[Unit]
Description=zywl doorlock Service
After=network.target

[Service]
Type=forking
RestartSec=5
ExecStart=/usr/bin/zywldl start
ExecStop=/usr/bin/zywldl stop
ExecReload=/usr/bin/zywldl restart
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
